<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category    Apouey
 * @package     Apouey_Voice
 * @copyright   apouey.github.io
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
  <sections>
    <voice translate="label">
      <label>Voice</label>
      <tab>general</tab>
      <frontend_type>text</frontend_type>
      <sort_order>10000</sort_order>
      <show_in_default>1</show_in_default>
      <groups>
        <global translate="label">
            <label>Global</label>
            <show_in_default>1</show_in_default>
            <sort_order>100</sort_order>
            <fields>
                <enable translate="label">
                    <label>Allow Magento Voice</label>
                    <frontend_type>select</frontend_type>
                    <source_model>adminhtml/system_config_source_yesno</source_model>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                </enable>
            </fields>
            <fields>
                <debug translate="label">
                    <label>Allow debug mode</label>
                    <frontend_type>select</frontend_type>
                    <source_model>adminhtml/system_config_source_yesno</source_model>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                </debug>
            </fields>            
        </global>
      </groups>
    </voice>
  </sections>
</config>
